# ENVIRONMENT VARIABLE
docker/.env

# IDEA
.idea/
.vscode/

# Environment variables
.env

# Python
venv/
__pycache__/
*.pyc

# Datasets
backend/ia-services/fake-news-detector/data/*.csv

# ML model artifacts
backend/ia-services/fake-news-detector/model/*.pkl

# Sprints
docs/sprints/